<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{dd/MM HH:mm:ss}|%20.20thread|%-6level|%40.40logger{20}| %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="pl.mkrystek.mkbot" level="debug"/>
    <logger name="org" level="info"/>
</configuration>
